* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

header {
    background-color: #F433AB ;    
}

header h1 {
    display: inline-block;
    font-weight: bold;
    font-size: 50px;
    margin: 0; 
    padding-top: 15px; 
}

header h1 a {
    text-decoration: none;
    color: #F433AB; 
}

header nav {
    padding-top: 55px;
    margin-right: 50px;
    float: right;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style: none;  
  }

  header nav ul li {
      display: inline-block;
      margin-left: 5px;
      
  }

  header nav ul li a {
    font-weight: bold;
    color: #102542; 
    
  }

  .name {
      background-color: #102542;
      padding: 10px 20px 10px 80px;
      margin: 7px;
  }

section {
    padding: 60px;
}

  .hero {
    height: 250px;
    width: 100%;
    background-image: url("../images/Hero.jpg");
    background-size: cover;     
  }

  .subtitle {
    padding: 130px 0 0 0; 
    float: right;
    
  }

  .subtitle-developer {
    color: #F433AB;
    font-size: 35px;
    background-color: #102542; 
    padding-left: 10px;
    padding-right: 10px;  
  }

  .about-me {
    display: flex;
    
} 

.about-me p {
    float: right;
    padding-left: 50px;
    padding-top: 50px;
    
}

.about-me h2{
    float: left;
    padding: 50px 20px;
    font-size: 40px;
    inline-size: 120px; 
}

.work-links {
    display: flex; 
    padding: 30px;  
    flex-direction: row;
    flex-wrap: wrap;
    color: #102542;
}
 
.projects {
    flex: 50%;
    padding: 20px;
    
}
.work-projects {
    display: flex; 
    /* margin-left: 100px;     */
    align-content: flex-end;
}

.work-projects h3 {
    margin-left: 100px;
}

.work-projects a {
   padding-top: 30px;
   color:  #102542;   
}

.projects img {
    width: 50%;
    align-content: flex-end;
    margin-left: 200px;
    margin-right: 200px;
    opacity: 100%;
     
}

.projects img:hover {
    opacity: 30%;
}

.work h2 {
    font-size: 40px;
    padding: 50px 20px;
    inline-size: 120px; 
    margin-left: 40px;
}

footer { 
    color: #102542;
    
}

.contact-me h2 {
    font-size: 40px;
    padding: 40px 0 50px 0; 
    float: left; 
    margin-left: 100px; 
    inline-size: 100px; 
}

.contact-info {
    display: flex;
    padding: 50px;
    margin-right: 50px;
    font-size: 20px;
    text-align: center;
    justify-content: space-evenly;  
    text-decoration: underline;
}

.contact-info a {
    color: #102542;
    font-size: 1.17em;
    font-weight: bold;
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    header {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    } 

    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
    }

    .contact-me {
        margin: 0;
        inline-size: 1000px;
       
    }
    .contact-info {
        flex: 1;
        flex-wrap: wrap;
        justify-content: space-evenly; 
    }
}  
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {    
    header {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero {
       flex: 1 100%;
       text-align: center;   
    }

    .about-me h2 {
        display: inline-flex;
        flex: 1;
        text-align: center;  
    }
    .about-me p {
        flex: 2;
        justify-content: space-evenly; 
    }

    .projects img {
        width: 100%;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
    }

    .contact-me {
        margin: 0;
        inline-size: 500px;
       
    }
    .contact-info {
        flex: 1;
        flex-wrap: wrap;
        justify-content: space-evenly; 
    }
}